body{
    width: 100vw;
    height: 100vh;
}
.AreaLogin{
    background-color: var(--bs-teal);
    width: 100%;
    height: 100%;
}
.logo{
    text-align: center;
    font-size: 150px;
    padding-top: 40%;
    color: black;
}
.subTitulo{
    font-weight: 500;
    font-size: 14px;
}
